@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color:#14b14b !important;
}

.textH2{
  font-size: 30px;
  text-align: center;
}


.imgbg{
  background-color: #27418b;
}

.crm{
  background-color: #27418b;
}